/*  Wrapper for the card */
.card-wrapper {
  display: flex;
  align-items: center;

  position: relative;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19), 0 3px 8px rgba(0, 0, 0, 0.23);
}

.no-padding {
  padding: 0;
}

.card-img {
  padding: 0;
}

/* For vertical card style */
.vertical {
  flex-flow: column nowrap;
  max-width: 350px;
}

/* For horizontal card style */
.horizontal {
  flex-flow: row nowrap;
  max-width: 100%;

  justify-content: space-between;
}

.card-badge {
  position: absolute;
  top: 0;
  left: 0;

  background: var(--primary-hover);

  padding: 0.5rem;
  color: var(--white);
}

.card-dismiss-btn {
  position: absolute;
  top: 0;
  right: 0;

  background: var(--primary-hover);
  border-radius: 0;

  padding: 0.5rem;
  color: var(--white);
}

.overlay-container {
  position: relative;
  padding: 0;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--white);
  font-size: 2rem;
}
