[class*="avatar"] {
  border-radius: 999px;
  vertical-align: middle;
}

.avatar--xsm {
  height: 3rem;
  width: 3rem;
}

.avatar--sm {
  height: 5rem;
  width: 5rem;
}

.avatar--md {
  height: 8rem;
  width: 8rem;
}

.avatar--lg {
  height: 10rem;
  width: 10rem;
}
