/* Align the text towards right and center */
.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

/* For grayed out text */
.gray-text {
  color: var(--lynxgray);
}

/* Font weight - 100, 400, 600, 700 & 900 */
.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}
