:root {
  /* Base colors */
  --success: #d4edda;
  --error: #f8d7da;
  --warning: #fff3cd;
  --info: #d1ecf1;

  /* Additional colors */
  --notification: #ffdd6e;
  --online: rgb(68, 173, 68);
  --offline: rgb(211, 97, 97);
}
