[class*="alert"] {
  box-sizing: border-box;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
}

.alert--success {
  background: var(--success);
}

.alert--error {
  background: var(--error);
}

.alert--warning {
  background: var(--warning);
}

.alert--info {
  background: var(--info);
}
